//************  buttons

.btn_v1 {
  height: 53px;

  &.action_btn {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border-radius: 3px;
    padding: 16px 59px;
    font-weight: 700;
    font-size: 18px;
    margin: 40px 0 15px;

    @include respond-to-min($resp_step_2) {
      margin-bottom: 5px;
    }
  }

  &.learn_more {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border-radius: 3px;
    padding: 16px 38px;
    font-weight: 700;
    font-size: 18px;
  }

}

.yellow_btn {
  @include transition_all(background .3s);
  color: $gl_blue;
  background: $gl_yellow;

  &:hover {
    background: #d8a200;
  }

  &:active {
    background: #d8a200;
  }
}

.blue_btn {
  @include transition_all(background .3s, color .3s);
  color: $gl_blue;
  background: #fff;
  border: 1px solid $gl_blue;

  &:hover {
    color: #fff;
    background: #023a87;
    border-color: #023a87;
  }

  &:active {
    color: #fff;
    background: #002e6d;
    border-color: #002e6d;
  }
}
