//*************************** header

.header {
  @include transition_all(background .3s, border .3s);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 0;

  .section_inner {
    max-width: none;

    @include respond-to-max($resp_step_1) {
      padding: 0;
    }
  }

  @include respond-to-min($resp_step_2) {
    padding: 10px 45px;
  }

  @include respond-to-max($resp_step_2) {
    height: 72px;
    position: fixed;

    &._white,
    .menu_opened & {
      background: #fff;
      border-bottom: 1px solid #ebedef;
    }
  }
}

.logo_block {
  float: left;

  @include respond-to-min($resp_step_2) {
    padding-left: 5px;
  }

  @include respond-to-max($resp_step_1) {
    padding-left: 15px;
  }
}

.logo {
  position: relative;
  display: block;

  img {
    display: block;
    width: 100%;
  }
}

// *********  menu

.main_menu {

  > .menu_item {
    position: relative;

    @include respond-to-min($resp_step_2) {
      margin-left: 20px;
    }

    @include respond-to-min(1680px) {
      margin-left: 50px;
    }
  }

  .menu_link {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
  }

  ._submenu {
    > .menu_link .link_text {
      @extend %icon_pseudo;
      padding-right: 22px;
      position: relative;

      &:before {
        content: $i-chevron_d;
        position: absolute;
        top: 50%;
        right: 0;
        width: 14px;
        height: 14px;
        font-size: 14px;
        margin-top: -7px;
      }
    }

    &._open {
      .sub_menu_w {
        display: block;
      }

      > .menu_link .link_text {
        &:before {
          content: $i-chevron_u;
        }
      }
    }
  }

  @include respond-to-max($resp_step_2) {
    @include transition_all(transform .3s);
    @include transform_translate(100%, 0);
    position: fixed;
    top: 72px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    background: #f4f8fd;

    > .menu_item {
      border-bottom: 1px solid #ebedef;

      > .menu_link {
        color: #2a2a2a;
        font-size: 16px;
        line-height: 72px;
        padding: 0 20px;
        letter-spacing: .145em;
        
        .link_text {
          display: inline-block;
          vertical-align: middle;
          line-height: 1.2;
        }
      }

      &._open {

        > .menu_link {
          color: $gl_blue;
        }
      }
    }

    .menu_opened & {
      @include transform_translate(0, 0);
    }
  }

  @include respond-to-min($resp_step_2) {
    padding-right: 16px;
    text-align: right;
    
    > li {
      margin-top: 16px;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      
      > .menu_link {
        color: #fff;
      }
    }
  }
}

.mob_menu_btn {
  float: right;
  position: relative;
  z-index: 7;
  width: 44px;
  height: 44px;

  &:before {
    top: 14px;
  }

  &:after {
    top: 30px;
  }

  span,
  &:after,
  &:before {
    @include transition_all(transform .3s, top .3s);
    content: '';
    position: absolute;
    left: 10px;
    width: 26px;
    height: 4px;
    background: #fff;

    ._white & {
      background: $gl_blue;
    }
  }

  span {
    @include transition_all(opacity .3s);
    width: 26px;
    height: 4px;
    top: 22px;
    opacity: 1;
  }

  .menu_opened & {
    &:after,
    &:before {
      background: $gl_blue;
    }

    &:before {
      transform: rotate(-45deg);
      top: 21px;
    }

    &:after {
      transform: rotate(45deg);
      top: 21px;
    }

    span {
      opacity: 0;
    }
  }

  @include respond-to-min($resp_step_2) {
    display: none;
  }
}

.sub_menu_w {
  display: none;

  @include respond-to-min($resp_step_2) {
    min-width: 335px;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 28px;
  }
}

.sub_menu {
  position: relative;
  background: $gl_blue;

  @include respond-to-min($resp_step_2) {
    &:before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 20px;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 12px solid $gl_blue;
    }
  }

  .menu_item {
    border-top: 1px solid #002f70;

    &:first-child {
      border-top: 0;
    }
  }

  .sub_menu_link {
    @include transition_all(background .3s, color .3s);
    color: #fff;
    display: block;
    padding: 0 20px;
    background: $gl_blue;
    line-height: 51px;
    text-transform: uppercase;
    letter-spacing: .16em;

    .link_text {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.2;
    }

    &:hover {
      color: #4c4c4c;
      background: $gl_yellow;
    }

    @include respond-to-max($resp_step_2) {
      font-size: 16px;
      line-height: 72px;
      letter-spacing: .145em;
      
      .link_text {
        position: relative;
        padding-left: 15px;

        &:before {
          content: '\2022';
          position: absolute;
          left: 0;
          top: 50%;
          line-height: 1;
          margin-top: -.6em;
        }
      }
    }
  }
}

.menu_link {
  cursor: pointer;
  position: relative;
  display: block;
  letter-spacing: .13em;
  text-decoration: none;
}
