html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  font: 14px/1.2 'Montserrat', sans-serif;
  color: $default_t_color;
}

.hide {
  display: none !important;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

.base {

}

.section_inner {
  width: 100%;
  max-width: $content-max-w;
  margin: 0 auto;
  padding: 0 10px;

  @include respond-to-min($resp_step_1) {
    padding: 0 20px;
  }

  @include respond-to-min($resp_step_2) {
    padding: 0 30px;
  }
}

.hero_block {
  @extend %global_flex_block_column_nowrap_center_center;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  height: 490px;
  color: #fff;
  text-align: center;
  background: url(../i/hero.jpg) no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .section_inner {
    position: relative;
    //pointer-events: none;
  }

  p {
    font-size: 15px;
    font-weight: 600;
    max-width: 1100px;
    margin: 0 auto;
    letter-spacing: .06em;

    @include respond-to-max($resp_step_2) {
      line-height: 1.5;
    }

    @include respond-to-max($resp_step_1) {
      line-height: 1.2;
    }
  }

  @include respond-to-min($resp_step_1) {
    height: 720px;

    p {
      font-size: 18px;
    }
  }

  @include respond-to-min($resp_step_2) {
    height: 850px;

    p {
      font-size: 24px;
    }
  }
  
  &._image {
    min-height: calc(100vh - 160px);
    max-height: calc(100vh - 160px);

    @include respond-to-min($resp_step_1) {
      min-height: calc(100vh - 280px);
      max-height: calc(100vh - 280px);
    }
  }
}

.hero_video_holder {
  @extend %hor_vert_centr;
  position: absolute;
  min-width: 100%;
  min-height: 100%;

  img {
    display: block;
  }
  
  //&:before {
  //  content: '';
  //  display: block;
  //  padding-bottom: 56.25%;
  //}
}

.hero_video {
  @extend %hor_vert_centr;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

.hero_caption {
  color: #fff;
  font-weight: 800;
  font-size: 32px;
  margin-top: 15px;
  margin-bottom: 15px;

  @include respond-to-min($resp_step_1) {
    font-size: 48px;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  @include respond-to-min($resp_step_2) {
    font-size: 72px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.feature_section {
  position: relative;
  padding-bottom: 35px;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background: url(../i/tickets_bg.jpg) no-repeat 50% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .section_inner {
    position: relative;
  }

  @include respond-to-min($resp_step_1) {
    margin-top: -180px;
    padding-bottom: 45px;

    &:before {
      top: 180px;
    }
  }

  @include respond-to-min($resp_step_2) {
    padding-bottom: 65px;
  }
}

.company_info {
  font-size: 20px;
  margin-bottom: 22px;
  text-align: center;
  letter-spacing: .065em;

  @include respond-to-min($resp_step_1) {
    font-size: 24px;
    margin-bottom: 45px;
  }

  @include respond-to-min($resp_step_2) {
    padding-top: 10px;
    margin-bottom: 65px;
  }
}

.feature_list {
  @extend %clearfix;
  box-shadow: 0 10px 24px rgba(0, 0, 0, .12);
  margin-bottom: 60px;

  @include respond-to-min($resp_step_1) {
    @include flex_block(row nowrap, center, stretch);
    margin-bottom: 150px;

    li {
      float: left;
      width: 50%;
    }
  }

  @include respond-to-min($resp_step_2) {
    margin-bottom: 93px;
  }
}

.feature_block {
  min-height: 100%;
  position: relative;
  padding: 57px 0 290px;
  text-align: center;
  background: #fff;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px + 50px;
    //height: 21.45%;
  }

  &._optimization {
    border-top: 20px solid $gl_blue;

    &:before {
      background: url(../i/optimization.png) no-repeat 30% 0;

      @include respond-to-max($resp_step_2) {
        right: -18px;
        left: -18px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      @include respond-to-max($resp_step_1) {
        right: -35px;
        left: -30px;
        height: 143px;
      }
    }

    @include respond-to-min($resp_step_1) {
      &:after {
        content: '';
        position: absolute;
        width: 1px;
        top: 0;
        bottom: 0;
        right: 0;
        background: #ededed;
      }
    }
  }

  &._research {
    border-top: 20px solid $gl_yellow;

    &:before {
      background: url(../i/research.png) no-repeat 53% -9%;

      @include respond-to-max($resp_step_2) {
        right: 20px;
        left: 15px;
        height: 115px + 50px;
        //height: 24.665%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    }

    @include respond-to-max($resp_step_1) {
      padding-bottom: 315px;

      &:before {
        right: 5px;
        left: 5px;
        height: 153px;
      }

      .feature_block_control {
        bottom: 235px;
      }
    }
  }

  p {
    margin: 0 auto;
    max-width: 490px;
    letter-spacing: .06em;
    font-size: 16px;

    @include respond-to-max($resp_step_2) {
      font-size: 14px;
      line-height: 1.45;
    }
  }

  @include respond-to-min($resp_step_1) {
    padding: 52px 25px 280px;
    //padding: 52px 25px 77%;
  }

  @include respond-to-min($resp_step_2) {
    padding: 57px 0 335px;

    &:before {
      height: 195px;
    }
  }

  @include respond-to-max($resp_step_1) {
    margin: 0 -10px;
  }
}

.feature_block_control {
  position: absolute;
  bottom: 210px;
  right: 0;
  left: 0;

  @include respond-to-min($resp_step_1) {
    //bottom: 143px;
    bottom: 190px;
    //bottom: 30.6%;
  }

  @include respond-to-min($resp_step_2) {
    bottom: 233px;
  }
}

.feature_caption {
  color: $gl_blue;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: .07em;

  @include respond-to-min($resp_step_2) {
    margin-bottom: 22px;
  }
}

.costs_list {
  @extend %clearfix;
  text-align: center;

  li {
    margin-bottom: 38px;
  }

  @include respond-to-min($resp_step_1) {
    margin-right: -5%;
    margin-left: -6%;

    li {
      float: left;
      width: 33%;
      margin-bottom: 30px;
    }
  }

  @include respond-to-min($resp_step_2) {
    margin-right: -2%;
    margin-left: -1%;
  }
}

.costs_block {
  padding: 0 50px;

  .gl_link {
    font-size: 16px;
  }

  @include respond-to-min($resp_step_1) {
    padding: 0 20px;
  }
}

.costs_img {
  height: 60px;
  line-height: 40px;

  img {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}

.costs_info {
  letter-spacing: .06em;
  font-size: 14px;
  margin-bottom: 12px;

  @include respond-to-min($resp_step_1) {
    font-size: 16px;
  }

  @include respond-to-min($resp_step_2) {
    font-size: 18px;
    margin-bottom: 28px;
  }
}

.solution_section {
  padding: 65px 0 20px;
  position: relative;
  margin: 0 auto;
  background: url(../i/solution_bg.png) no-repeat 50% 50%;

  .section_inner {
    position: relative;
  }

  @include respond-to-min($resp_step_1) {
    //padding-top: 150px;
    padding-bottom: 60px;
  }

  @include respond-to-min($resp_step_2) {
    padding-top: 95px;
  }
}

.solution_list {
  @extend %clearfix;

  li {
    margin-bottom: 10px;
  }

  @include respond-to-max($resp_step_1) {
    padding-top: 5px;
  }

  @include respond-to-min($resp_step_1) {
    margin-right: -1%;
    margin-left: -20px;
    padding-bottom: 30px;

    li {
      padding-left: 20px;
      float: left;
      width: 33%;
    }
  }

  @include respond-to-min($resp_step_2) {
    margin-left: -28px;
    padding-bottom: 50px;

    li {
      padding-left: 28px;
    }
  }
}

.solution_block {
  @include transition_all(transform .3s);
  text-align: center;
  background: #fff;
  padding-bottom: 30px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, .12);

  p {
    font-size: 16px;
    margin-top: 15px;
    padding: 0 20px;

    @include respond-to-max($resp_step_1) {
      + p {
        margin-top: 20px;
      }
    }
  }

  @include respond-to-max($resp_step_2) {
    padding-bottom: 25px;

    p {
      font-size: 14px;
      line-height: 1.45;
    }

    .gl_link {
      font-size: 18px;
    }
  }

  &:hover {
    -webkit-transform: scale(1.05) translateZ(10px);
    transform: scale(1.05) translateZ(10px);
    z-index: 2;
  }
}

.solution_img {
  position: relative;
  margin-bottom: 50px;

  > img {
    display: block;
    width: 100%;
  }

  @include respond-to-min($resp_step_1) {
    margin-bottom: 56px;
  }
}

.solution_icon {
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  border-radius: 100%;
  background: $gl_blue;

  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    line-height: 1;
  }
}

.solution_caption {
  font-size: 18px;
  margin-bottom: 16px;
  color: $gl_blue;
  letter-spacing: .07em;

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.35;
  }

  @include respond-to-min($resp_step_1) {
    line-height: 50px;
    margin-bottom: 24px;
    padding: 0 10px;
  }

  @include respond-to-min($resp_step_2) {
    font-size: 20px;
    margin-bottom: 15px;

    span {
      line-height: normal;
    }
  }

  @include respond-to-max($resp_step_1) {
    height: auto !important;
  }
}

.review_list {
  @extend %clearfix;

  @include respond-to-min($resp_step_1) {
    li {
      float: left;
      width: 50%;

      &._wide {
        width: 100%;
      }
    }
  }

  @include respond-to-min($resp_step_2) {
    li {
      width: 20%;

      &._wide {
        width: 20%;
      }
    }
  }
}

.review_caption {
  color: $gl_blue;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  max-width: 730px;
  margin: 45px auto 50px;

  @include respond-to-min($resp_step_1) {
    font-size: 30px;
    margin-top: 53px;
    margin-bottom: 85px;
  }

  @include respond-to-min($resp_step_2) {
    font-size: 44px;
    margin-top: 0;
    margin-bottom: 100px;
  }
}

.review_block {
  position: relative;
  height: 260px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &._wide {
    @include respond-to-max($resp_step_2) {
      background-image: url(../i/review_5w.jpg) !important;
    }
  }
}

.review_inner {
  position: absolute;
  top: 47px;
  right: 5px;
  left: 5px;
  bottom: 55px;
  text-align: center;
  color: #fff;

  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    max-width: 300px;
    margin: 0 auto;
  }

  @include respond-to-min($resp_step_1) {
    right: 45px;
    left: 45px;
  }
}

.review_logo {
  height: 70px;
  font-size: 30px;
  line-height: 55px;

  img {
    display: inline-block;
    vertical-align: top;
  }
}

.review_link {
  @extend %icon_pseudo;
  position: absolute;
  bottom: 24px;
  right: 17px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 2px;
  height: 30px;
  padding-right: 26px;
  text-decoration: none;

  &:before {
    content: $i-arrow_ne;
    position: absolute;
    width: 26px;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    line-height: 26px;
  }

  span {
    display: block;
    line-height: 26px;
    padding: 0 10px 0 18px;
    letter-spacing: .06em;
  }

  @include respond-to-min($resp_step_1) {
    right: 24px;
  }
}

.article_section {
  padding: 65px 0 45px;

  .section_title {
    margin-bottom: 15px;
  }

  @include respond-to-min($resp_step_1) {
    padding-bottom: 100px;
  }

  @include respond-to-min($resp_step_2) {

  }
}

.assistance_section {
  padding: 65px 0 45px;
  background: url(../i/assistance_bg.jpg) no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .section_title {
    margin-bottom: 15px;
  }

  @include respond-to-min($resp_step_1) {
    padding-bottom: 80px;
    padding-top: 93px;
  }

  @include respond-to-min($resp_step_2) {
    padding-bottom: 100px;
  }
}

.optimization_section {
  padding: 43px 0 45px;
  background: #fff;

  .section_title {
    margin-bottom: 15px;
  }

  @include respond-to-min($resp_step_1) {
    padding-bottom: 80px;
    padding-top: 93px;
  }

  @include respond-to-min($resp_step_2) {
    padding-bottom: 100px;
  }
}

.analytics_section {
  padding: 43px 0 45px;
  background: url(../i/analytics_bg.jpg) no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .section_title {
    margin-bottom: 15px;
  }

  @include respond-to-min($resp_step_1) {
    padding-bottom: 80px;
    padding-top: 93px;
  }

  @include respond-to-min($resp_step_2) {
    padding-bottom: 100px;
  }
}

.tab_controls {
  display: none;
  text-align: center;
  padding: 40px 0 20px;
  margin: 0 -20px;

  li {
    display: inline-block;
    vertical-align: top;
    padding: 0 25px;
  }

  @include respond-to-min($resp_step_1) {
    display: block;
    padding-top: 40px;
    margin: 0 -60px;

    li {
      padding: 0 70px;
    }
  }
}

.tab_link {
  display: inline-block;
  vertical-align: top;
  position: relative;
  color: #4c4c4c;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    height: 7px;
    right: 0;
    left: 0;
  }

  ._active & {
    color: $gl_blue;
    cursor: default;

    &:before {
      border-bottom: 1px solid $gl_blue;
    }
  }

  @include respond-to-max($resp_step_1) {
    margin-bottom: 35px;
  }
}

.assistance_image {
  //padding-top: 30px;
  text-align: center;

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }

  @include respond-to-min($resp_step_1) {
    float: left;
    width: 43%;
    padding-top: 45px;
    
    img {
      margin-left: -100px;
    }
  }
 
  @include respond-to-min($resp_step_2) {
    width: 60%;
    padding-top: 45px;

    img {
      margin-left: 0;
    }
  }
}

.assistance_caption {
  color: $gl_blue;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: .07em;
  font-weight: 400;

  @include respond-to-min($resp_step_1) {
    font-size: 24px;
  }

  @include respond-to-min($resp_step_2) {
    margin-bottom: 22px;
  }
  
}

.assistance_info {
  padding-bottom: 15px;
  
  p {
    font-size: 16px;
    line-height: 1.25;
    color: #4c4c4c;
    margin-bottom: 37px;
    text-align: left;
  }

  @include respond-to-max($resp_step_1) {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 28px;

    p {
      font-size: 14px;
      margin-bottom: 25px;
    }
  }

  @include respond-to-min($resp_step_1) {
    float: left;
    width: 43.5%;
    padding-left: 15px;

    p {
      max-width: 420px;
    }
  }

  @include respond-to-min($resp_step_2) {
    width: 43.5%;
    margin-left: -3.5%;
    padding-left: 0;
  }
}

.tab_dots {
  text-align: center;
  font-size: 0;
  
  .slick-dots {
    button {
      font-size: 0;
      border-radius: 100%;
      background: #9b9b9b;
      width: 10px;
      height: 10px;
      position: relative;
      
      &:before {
        content: '';
        position: absolute;
        top: -4px;
        bottom: -4px;
        left: -4px;
        right: -4px;
      }
    }
    
    li {
      display: inline-block;
      vertical-align: top;
      padding: 0 5px;
      
      &.slick-active {
        button {
          background: $gl_blue;
        }
      }
    }
  }
  
  @include respond-to-min($resp_step_1) {
    display: none !important;
  }
}

.tab_unit {
  padding-top: 30px;

  &.slick-slide {
    display: block !important;
  }

  @include respond-to-min($resp_step_1) {
    @include flex_block(row nowrap, center, center);
  }
}

.article_tip {
  font-size: 18px;
  margin-bottom: 40px;
  letter-spacing: .01em;
  text-align: center;

  @include respond-to-min($resp_step_2) {
    font-size: 20px;
  }
}

.slider_control {
  @include transition_all(opacity .3s);
  position: absolute;
  top: 47%;
  width: 24px;
  height: 44px;
  opacity: .4;
  cursor: pointer;

  &._prev {
    left: -22px;
    background: url(../svg/chevron_l.svg) no-repeat 50% 50%;
  }

  &._next {
    right: -22px;
    background: url(../svg/chevron_r.svg) no-repeat 50% 50%;
  }

  @include respond-to-max($resp_step_2) {
    &._next,
    &._prev {
      top: -22px;
      height: 24px;
      width: 16px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      &:before {
        content: '';
        position: absolute;
        right: -5px;
        left: -5px;
        top: -5px;
        bottom: -5px;
      }
    }

    &._prev {
      left: auto;
      right: 42px;
    }

    &._next {
      right: 12px;
    }
  }

  @include respond-to-max($resp_step_1) {
    display: none !important;
  }

  &:hover {
    opacity: 1;
  }
}

.article_slider {
  position: relative;

  .slide {
    margin-bottom: 12px;
  }

  @include respond-to-max($resp_step_1) {
    padding-bottom: 15px;

    .slide:nth-child(n+4) {
      display: none;
    }
  }

  @include respond-to-min($resp_step_1) {
    margin: 0 -20px;

    .slick-slider {
      padding: 0 10px;
    }

    .slide {
      padding: 0 10px;
      margin-top: 20px;
      margin-bottom: 37px;
    }
  }

  @include respond-to-min($resp_step_2) {
    margin: 0 -28px;

    .slick-slider {
      padding: 0 14px;
    }

    .slide {
      padding: 0 14px;
    }
  }
}

.article_block {
  background: #fff;
  box-shadow: 0 10px 24px rgba(0, 0, 0, .12);
  text-align: center;
}

.flip_container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

$flip_time: .5s;

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: $flip_time;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transition: $flip_time;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -o-transition: $flip_time;
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(0deg);
  -ms-transition: $flip_time;
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(0deg);
  transition: $flip_time;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: relative;
  //position: absolute;
  //top: 0;
  //left: 0;
}

.front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
}

.flip_container:hover .front {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.article_inner {
  padding: 33px 5px 10px;

  p {
    margin-bottom: 20px;
  }

  @include respond-to-min($resp_step_1) {
    padding: 25px 5px 10px;
  }

  @include respond-to-min($resp_step_2) {
    padding: 25px 15px 10px;
  }
}

.article_img {

  img {
    display: block;
    width: 100%;
  }
}

.article_date {
  display: inline-block;
  vertical-align: top;
  background: #e0edf5;
  font-size: 12px;
  padding: 3px 5px;
  margin-bottom: 20px;
}

.article_caption {
  color: $gl_blue;
  font-size: 18px;
  margin-bottom: 22px;

  @include respond-to-min($resp_step_1) {
    margin-bottom: 16px;
  }

  @include respond-to-min($resp_step_2) {
    font-size: 20px;
    margin-bottom: 8px;
  }
}

.motion {
  @include transition_all(transform .3s, opacity .3s);
  @include transform_translate(-200px, 0);
  opacity: 0;
  position: relative;

  &.right {
    @include transform_translate(200px, 0);
  }

  &.active {
    @include transform_translate(0, 0);
    opacity: 1;
  }

}

// **********  text

.section_title {
  text-align: center;
  font-size: 22px;
  max-width: 770px;
  margin: 0 auto 30px;
  color: $gl_blue;

  @include respond-to-min($resp_step_1) {
    margin-bottom: 55px;
    font-size: 30px;
  }
}

.gl_link {
  text-decoration: underline;
  color: $gl_blue;

  &:hover {
    text-decoration: none;
  }
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

