include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Transtour статья')

    body
        .wrapper
            .base
                div.main_content
                    #hero_section.hero_block._image(style='background-image:url(i/meetings_hero.jpg)')
                        .section_inner
                            .hero_label Статьи
                            .hero_caption How to Inspire Rogue Travelers<br>to Make In-Policy Bookings
                            
                    .article_section
                        .section_inner.clearfix
                            .article_main: .article_text
                               p  As highlighted in the latest installment of ACTE’S “Modern Business Traveler” series, an ongoing research study underwritten by American Express Global Business Travel (GBT), one of the biggest challenges in managing today’s corporate travelers is that many are making out-of-policy bookings by reserving either directly with the airlines and hotels or via online travel agencies, such as Expedia and Kayak.

                                p So how can a travel manager (TM) rein in these so-called “rogue travelers”? First, understand their motivations for straying. Then use our guide below to determine the best tactic to use with that specific type of traveler.

                                h3 For the traveler who doesn’t know any better

                                p As the ACTE survey points out, most travelers want to do the right thing — they just may not realize what that is. We take it a step further and say they may not realize how the right thing is also right for them. For this type of traveler, it’s simply about educating them.

                                p Take the cost-sensitive employee who thinks they can find a better deal online. They may not be aware of how preferred supplier agreements work and that you actually have struck the best bargain, but only if they book with a certain hotel or air carrier.

                                p And if it’s variety a traveler wants but doesn’t know they have, American Express GBT has access to more than one million properties worldwide, from major chains to boutique hotels and Airbnb rentals to serviced apartments.

                                p Finally, for the traveler afraid about losing out on their hotel and airline reward points, they need not worry. When they book through us, their loyalty number is tied to the reservation in the GDS, and their points will go to their account automatically.

                                h3 For the traveler who responds to guilt

                                p According to the ACTE survey, 80 percent of TMs use a technique known as visual guilt to drive compliance. Visual guilt messages, delivered via the online booking tool (OBT), prompt the traveler to reconsider the travel option they are about to purchase if a more policy-compliant alternative is available.
                                
                            .article_aside
                                h4.aside_caption Рекомендуемые статьи
                                ul.recommended_list
                                    li
                                        .recommended_item
                                            a.recommended_img(href='#')
                                                img(src='i/article_1.jpg')
                                            a.recommend_link(href='#') Заголовок
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                            
                                    li
                                        .recommended_item
                                            a.recommended_img(href='#')
                                                img(src='i/article_2.jpg')
                                            a.recommend_link(href='#') Заголовок
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                            
                                    li
                                        .recommended_item
                                            a.recommended_img(href='#')
                                                img(src='i/article_3.jpg')
                                            a.recommend_link(href='#') Заголовок
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                            

            +header()
            +footer()
            