include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Transtour главная')

    body
        .wrapper
            .base
                div.main_content
                    .hero_block.heroBlock
                        .hero_video_holder.heroVideoHolder
                            //-iframe.hero_video.heroVideo(width="560" height="315" src="https://www.youtube.com/embed/WdLD2KOAbzo?autoplay=1&cc_load_policy=1&controls=0&enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media") 
                            video#homepage-video.hero_video.heroVideo(data-start-time="7" preload="auto" buffered="" playsinline="" poster="i/hero.jpg" loop="" muted="")
                                source(src="video/video_2.mp4", type="video/mp4")

                        .section_inner
                            .hero_caption Умные деловые поездки
                            p Поднимите свой бизнес на новый уровень с помощью оптимизации расходов, наших технологий, знаний и опыта
                            
                            .text_center
                                a.btn_v1.action_btn.yellow_btn(href='#')
                                    span Консультация
                                    
                    .feature_section
                        .section_inner
                            ul.feature_list
                                li
                                    .feature_block._optimization
                                        .feature_caption Оптимизация управления&nbsp;поездками
                                        p Инструменты которые позволяют нам занимать лидирующие позиции в оказании услуг деловых поездок
                                        .feature_block_control
                                            a.btn_v1.blue_btn.learn_more(href='#')
                                                span Узнать подробнее
                                li
                                    .feature_block._research
                                        .feature_caption Исследования, знания,&nbsp;опыт
                                        p Посмотрите как мы накапливаем знания и&nbsp;опыт&nbsp;о&nbsp;путешествиях
                                        .feature_block_control
                                            a.btn_v1.blue_btn.learn_more(href='#')
                                                span Узнать подробнее
                                                
                            h2.section_title Подберите подходящие вам инструменты для&nbsp;управления деловыми поездками                    
                            .company_info Моя компания...
                            
                            ul.costs_list
                                li.motion
                                    .costs_block
                                        .costs_img
                                            img(src='svg/ticket1.svg')
                                        .costs_info Тратит на авиабилеты меньше 1&nbsp;миллиона ₽ в месяц
                                        a.gl_link(href='#') Подробнее
                                li
                                    .costs_block
                                        .costs_img
                                            img(src='svg/ticket2.svg')
                                        .costs_info тратит на авиабилеты от&nbsp;1&nbsp;до&nbsp;3&nbsp;миллионов ₽  в месяц

                                        a.gl_link(href='#') Подробнее
                                li.motion.right
                                    .costs_block
                                        .costs_img
                                            img(src='svg/ticket3.svg')
                                        .costs_info тратит на авиабилеты больше 3&nbsp;миллионов ₽ в месяц
                                        a.gl_link(href='#') Подробнее
                    
                    .solution_section
                        .section_inner
                            h2.section_title Решения, которые использует наша&nbsp;компания
                            ul.solution_list
                                li.motion
                                    .solution_block
                                        .solution_img
                                            img(src='i/solution_1.jpg')
                                            .solution_icon
                                                img(src='svg/smartphone.svg')
                                        
                                        .solution_caption.sameHeight
                                            span Управление поездками
                                
                                        p.sameHeight2 Цифровые инструменты и сервисы лежат в основе всех наших услуг
                                        p 
                                            a.gl_link(href='#') Подобрать решение
                                            
                                li
                                    .solution_block
                                        .solution_img
                                            img(src='i/solution_2.jpg')
                                            .solution_icon
                                                img(src='svg/calendar.svg')
                                        
                                        .solution_caption.sameHeight
                                            span Организация и проведение корпоративных мероприятий
                                
                                        p.sameHeight2 Создаем события, которые оставляют впечатлени
                                        p 
                                            a.gl_link(href='#') Подобрать решение
                                            
                                li.motion.right
                                    .solution_block
                                        .solution_img
                                            img(src='i/solution_3.jpg')
                                            .solution_icon
                                                img(src='svg/trend.svg')
                                        
                                        .solution_caption.sameHeight
                                            span Помощь и поддержка на каждом шаге
                                
                                        p.sameHeight2 Создаем события, которые оставляют впечатлени
                                        p 
                                            a.gl_link(href='#') Подобрать решение
                                            
                            .review_caption В прошлом году 3&nbsp;миллиона сотрудников доверились нам    
                                
                        ul.review_list
                            li
                                .review_block(style='background-image: url(i/review_1.jpg);')
                                    .review_inner
                                        .review_logo
                                            img(src='i/rosa_hutor.png')
                                        p Мы получили полный контроль расходов на деловые поездки
                                    a.review_link(href='#') 
                                    
                            li
                                .review_block(style='background-image: url(i/review_2.jpg);')
                                    .review_inner
                                        .review_logo
                                            img(src='i/medsi.png')
                                        p “Once again, technology has helped us reduce company and travel risk ”
                                    a.review_link(href='#')
                            li
                                .review_block(style='background-image: url(i/review_3.jpg);')
                                    .review_inner
                                        .review_logo
                                            img(src='i/renaissance.png')
                                        p Мы получили полный контроль расходов на деловые поездки
                                    a.review_link(href='#') 
                                        span Подробнее
                                    
                            li
                                .review_block(style='background-image: url(i/review_4.jpg);')
                                    .review_inner
                                        .review_logo
                                            img(src='i/sts.png')
                                        p “Once again, technology has helped us reduce company and travel risk ”
                                    a.review_link(href='#')
                            li._wide
                                .review_block._wide(style='background-image: url(i/review_5.jpg);')
                                    .review_inner
                                        .review_logo Microsoft
                                        p “Once again, technology has helped us reduce company and travel risk ”
                                    a.review_link(href='#')
                    
                    .article_section
                        .section_inner
                            h2.section_title Статьи

                            .article_tip Новости и решения в мире деловых поездок
                            
                            .article_slider
                                a.prevArticle.slider_control._prev(href='#')
                                a.nextArticle.slider_control._next(href='#')
                                .articleSlider
                                    +loop_while(6)
                                        .slide
                                            .flip_container: .flipper: .front: .article_block
                                                .article_img
                                                    img(src='i/article.jpg')
                                                    
                                                .article_inner
                                                    .article_caption.sameHeight3 Simplify the Process of&nbsp;Onboarding New&nbsp;Travelers
                                                    .article_date 17.06.2018
                                                        
                                                    p.sameHeight4 It can seem like a cycle stuck on repeat — onboarding new employees entering the travel 
                                                    p
                                                        a.gl_link(href='#') Читать больше

                            .text_center
                                a.gl_link(href='#') Просмотреть все статьи
                                
            +header()
            +footer()
            