include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Transtour главная')

    body
        .wrapper
            .rect_1024
            .base
                div.header
                    .section_inner.clearfix
                        .logo_block
                            a.logo(href='#')
                                img(src='i/logo.png')

                    ul.main_menu
                        li.menu_item
                            a.menu_link(href='#')
                                span.link_text 
                        




                div.main_content


            .footer
