include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Transtour встречи')

    body
        .wrapper
            .base
                div.main_content
                    #hero_section.hero_block._image(style='background-image:url(i/meetings_hero.jpg)')
                        .section_inner
                            .hero_caption Встречи, презентации,<br>конференции
                            p Мы имеем большой опыт в организации мероприятий
                            
                    .meetings_section
                        .section_inner
                            h2.section_title Уникальный опыт и ощутимая отдача
                            .meeting_tip Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis 
                            
                            ul.benefits_list
                                li: p В вашем распоряжении наша команда профессионалов
                                li: p В вашем распоряжении наша команда профессионалов
                                li: p Организация мероприятий внутри страны и за ее пределами
                                li: p Организовано более 100 мероприятий по всему миру

                            ul.features_list
                                li
                                    .feature_unit
                                        .feature_img
                                            img(src='svg/feature_1.svg')
                                        .feature_caption Разработка индивидуальной программы проведения мероприятия
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                                li
                                    .feature_unit
                                        .feature_img
                                            img(src='svg/feature_2.svg')
                                        .feature_caption Полное обеспечение мероприятия по всем направлениям
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                                li
                                    .feature_unit
                                        .feature_img
                                            img(src='svg/feature_3.svg')
                                        .feature_caption Анализ доходности мероприятия
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                                li
                                    .feature_unit
                                        .feature_img
                                            img(src='svg/feature_4.svg')
                                        .feature_caption Создание уникального впечатления от бренда
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis

                    .solution_section
                        .section_inner
                            h2.section_title Решения и услуги
                            ul.solution_list
                                li.motion
                                    .solution_block
                                        .solution_img
                                            img(src='i/service_1.jpg')
                                            .solution_icon
                                                img(src='svg/smartphone.svg')

                                        .solution_caption.sameHeight
                                            span Управление поездками

                                        p.sameHeight2 Цифровые инструменты и сервисы лежат в основе всех наших услуг
                                        p
                                            a.gl_link(href='#') Подобрать решение

                                li
                                    .solution_block
                                        .solution_img
                                            img(src='i/service_2.jpg')
                                            .solution_icon
                                                img(src='svg/globe.svg')

                                        .solution_caption.sameHeight
                                            span В воздухе и на суше

                                        p.sameHeight2 Создаем события, которые оставляют впечатлени
                                        p
                                            a.gl_link(href='#') Подобрать решение

                                li.motion.right
                                    .solution_block
                                        .solution_img
                                            img(src='i/service_3.jpg')
                                            .solution_icon
                                                img(src='svg/thumb.svg')

                                        .solution_caption.sameHeight
                                            span Система рекомендаций

                                        p.sameHeight2 Создаем события, которые оставляют впечатлени
                                        p
                                            a.gl_link(href='#') Подобрать решение

            +header()
            +footer()
            