@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?g5rp0u');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?g5rp0u#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?g5rp0u') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?g5rp0u') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?g5rp0u##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-terminal {
  &:before {
    content: $i-terminal; 
  }
}
.i-card {
  &:before {
    content: $i-card; 
  }
}
.i-check {
  &:before {
    content: $i-check; 
  }
}
.i-chevron_d {
  &:before {
    content: $i-chevron_d; 
  }
}
.i-chevron_u {
  &:before {
    content: $i-chevron_u; 
  }
}
.i-arrow_ne {
  &:before {
    content: $i-arrow_ne; 
  }
}
.i-chevron_l {
  &:before {
    content: $i-chevron_l; 
  }
}
.i-chevron_r {
  &:before {
    content: $i-chevron_r; 
  }
}
.i-fb {
  &:before {
    content: $i-fb; 
  }
}
.i-in {
  &:before {
    content: $i-in; 
  }
}
.i-pin {
  &:before {
    content: $i-pin; 
  }
}
.i-tg {
  &:before {
    content: $i-tg; 
  }
}
.i-phone {
  &:before {
    content: $i-phone; 
  }
}

