$icomoon-font-path: "fonts" !default;

$i-chevron_d: "\e908";
$i-chevron_u: "\e909";
$i-arrow_ne: "\e905";
$i-chevron_l: "\e900";
$i-chevron_r: "\e901";
$i-fb: "\e902";
$i-in: "\e903";
$i-pin: "\e904";
$i-tg: "\e906";
$i-phone: "\e907";

